* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 1020px;
  margin: auto;
  position: relative;
}

.float-left {
  float: left;
}

.clearfix::after {
  display: table;
  clear: both;
  content: ""
}

/* header */
header {
  height: 150px;
  background-color: yellow;
}

/* main */
main {
  margin: 10px 0;
}

main aside {
  width: 20%;
  background-color: green;
}

main .left-column {
  margin-right: 10px;
}

main .left-column .box {
  height: 280px;
  width: 100%;
  margin-bottom: 5px;
  display: inline-block;
  background-color: red;
}

main .page-content{
  height: 600px;
  width: calc(60% - 20px);
  background-color: blue;
}

main .right-column {
  margin-left: 10px;
}

main .right-column .box {
  height: 190px;
  width: 100%;
  margin-bottom: 5px;
  display: inline-block;
  background-color: orange;
}

/* footer */
footer {
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: grey;
}
