* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1020px;
  margin: auto;
}

.float-left {
  float: left;
}

.clearfix::after {
  display: table;
  clear: both;
  content: ""
}

/* header */
header {
  height: 150px;
  background-color: yellow;
}

/* main */
main {
  background-color: green;
}

main aside {
  height: 300px;
  width: 20%;
  background-color: red;
}

main .page-content {
  height: 600px;
  width: 60%;
  background-color: blue;
}

/* footer */
footer {
  height: 100px;
  background-color: grey;
}
